#content{
    /*float:left;
    margin-left: auto;
    margin-right: auto;*/
}

a.jslink {
    text-decoration: none;
    border-bottom: 1px dashed;
}
a.jslink:hover {
    text-decoration: none;
    border-bottom: 1px dashed;
}

/* ul-dropfree */
ul.ul-dropfree div.drop {
    width:11px;
    height:11px;
    position:absolute;
    z-index:10;
    top:6px;
    left:-6px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAALCAIAAAD0nuopAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNpinDlzJgNlgAWI09LScEnPmjWLoAImrHpIAkwMFAMqGMGC6X44GzkIsHoQooAFTTVQKdbAwxOigyMsmIh3MC7ASHnqBAgwAD4CGeOiDhXRAAAAAElFTkSuQmCC');
    background-position:-11px 0;
    background-repeat:no-repeat;
    cursor:pointer;
}
/* ul-treefree */
ul.ul-treefree { padding-left:25px; }
ul.ul-treefree ul { margin:0; padding-left:6px; }
ul.ul-treefree li { position:relative; list-style:none outside none; border-left:solid 1px #999; margin:0; padding:0 0 0 19px; line-height:23px; }
ul.ul-treefree li:before { content:''; display:block; border-bottom:solid 1px #999; position:absolute; width:18px; height:11px; left:0; top:0; }
ul.ul-treefree li:last-child { border-left:0 none; }
ul.ul-treefree li:last-child:before { border-left:solid 1px #999; }


.fll{
    float: left;
}

.mlabel{
    text-align: right;
    width: 150px;
    padding-right: 20px;
}

#footer p{
    width: 85%;
    margin-top:1em;
    margin-left: auto;
    margin-right: auto;
    text-align:right;
    color: rgba(204, 204, 204, 0.99);
    opacity: 0.2;
}

.card_item{
    display: inline-block;
    vertical-align: top;
    width: 330px;
    margin-left: 10px;
    margin-right: 10px;
}

.prev_pix{
    max-height: 200px;
}

.admin_panel{
    width: 120px;
    margin-bottom:10px;
}


.navbar .divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
    }
}